body {
  font-size: 15px;
  line-height: 1.55;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
strong {
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  line-height: 1.15;
  letter-spacing: -0.035em;
}

p {
  color: var(--color-text-muted);
}
